<section class="new-todo">
  <h2 class="tui-text_h4">Создать новое Todo!</h2>
  <form class="new-todo__form" [formGroup]="applyForm" (submit)="submitApplication()">
    <div class="tui-form__row">
      <tui-textarea formControlName="title" >Заголовок</tui-textarea>
    </div>

    <div class="tui-form__row">
      <tui-textarea formControlName="description" >Описание</tui-textarea>
    </div>

    <div class="tui-form__row">
      <tui-input-date formControlName="date" >Дата окончания</tui-input-date>
    </div>

    <div class="tui-form__buttons">
      <button size="l"
              tuiButton
              class="tui-form__button"
              type="submit"
      >Создать!
      </button>
    </div>
  </form>
</section>
