
  <form [formGroup]="formGroupTodo" class="todo">

    @if (formGroupTodo.getRawValue().completed){
    <h3 class="tui-form__header" style="color: var(--tui-link);">TODO</h3>
    } @else if (this.nowDate.toLocaleDateString() > this.formGroupTodo.getRawValue().date.toString()){
      <h3 class="tui-form__header" style="color: var(--tui-negative);">TODO</h3>
    } @else {
      <h3 class="tui-form__header" style="color: var(--tui-text-03);">TODO</h3>
    }


    @if (formGroupTodo.controls.title; as controlTitle){
      <div class="tui-form__row">
        <tui-textarea class="todo__textarea"  [formControl]="formGroupTodo.controls.title">Заголовок</tui-textarea>
        @if (controlTitle.invalid && (controlTitle.dirty || controlTitle.touched)) {
          @if (controlTitle.hasError("required")) {
            <tui-error ngDefaultControl
              [formControl]="controlTitle"
              error="Поле обязательно к заполнению"
            />
          }
        }
      </div>
    }

    <div class="tui-form__row">
      <tui-textarea class="todo__textarea" [expandable]="true" [formControl]="formGroupTodo.controls.description">Описание Todo</tui-textarea>
    </div>

    <div class="tui-form__row">
      <tui-input-date [formControl]="formGroupTodo.controls.date">Дата окончания Todo</tui-input-date>
    </div>

    <div class="tui-form__row">
      <tui-checkbox-labeled [formControl]="formGroupTodo.controls.completed">Завершен Todo</tui-checkbox-labeled>
    </div>


    <div class="tui-form__buttons">
      <button
      size="m"
      tuiButton
      type="submit"
      class="tui-form__button"
      [tuiHint]="formGroupTodo.invalid && 'Заплните формулу'"
      tuiHintDescribe
      tuiHintDirection="right"
      tuiHintAppearance="onDark"
      [disabled]="formGroupTodo.invalid"
      [type]="formGroupTodo.disabled ? 'submit'  : 'button'"
      (click)="changeStateForm()">{{formGroupTodo.disabled ? 'Редактировать' : 'Сохранить'}}
    </button>
      <button
        appearance="flat"
        size="m"
        tuiButton
        type="button"
        class="tui-form__button"
        (click)="deleteTodo()">
        Удалить
      </button>
    </div>



  </form>




