<form [formGroup]="todo" class="todo">
  @if (todo.getRawValue().completed){
    <div class="todo-progress completed">+</div>
  } @else if (Date.parse(this.todo.getRawValue().date ) < Date.now()){
    <div class="todo-progress expired">-</div>
  } @else {
    <div class="todo-progress"></div>
  }
  <!-- <input [formControl]="todo.controls.title"> -->

  <p class="todo-text">{{ todo.getRawValue().title }}</p>
  <p class="todo-text">{{ todo.getRawValue().description }}</p>
  <p class="todo-text">{{todo.getRawValue().date | date: 'dd/MM/yyyy'}}</p>

  <a class="btn-edit" [routerLink]="['/edit', todo.getRawValue().id]">Edit</a>
</form>
